<!DOCTYPE HTML>
<html lang= "en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static/project1.css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <title>Augio books {% block title %}{% endblock %}</title>
    </head>
<body>

  <nav class="navbar navbar-expand-md navbar-light bg-light border">
    <a class="navbar-brand" width ="350" href="/"><img class="pic1" src="https://image.freepik.com/free-icon/open-book-top-view_318-58980.jpg"></a>
    <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
        {% if session.user_id %}
            <ul class="navbar-nav mr-auto mt-2">
                <li class="nav-item"><a class="nav-link" href="/home">Search</a></li>
                <li class="nav-item"><a class="nav-link" href="/buy">Buy</a></li>
                <li class="nav-item"><a class="nav-link" href="/sell">Sell</a></li>
                <li class="nav-item"><a class="nav-link" href="/history">History</a></li>
            </ul>
            <ul class="navbar-nav ml-auto mt-2">
                <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
            </ul>
        {% else %}
            <ul class="navbar-nav ml-auto mt-2">
                <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
            </ul>
        {% endif %}
    </div>
</nav>


  <main class="container-fluid">
    {% block main %}{% endblock %}
  </main>

  <footer class="container-fluid bg-1 text-center">
        <p>Page Theme Made By <a href="https://www.w3schools.com">VelniopSistema.lt</a></p> 
  </footer>

  </body>



</html>